<!DOCTYPE html>
<div id="about-page" class="page">

  <tp-navbar title="About"></tp-navbar>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12">
      <p>
        Welcome to Tunepal!
      </p>
      <p>
        Tunepal is a search-by-playing search engine for traditional Irish, Welsh, Scottish, Breton, American marching band and Canadian tunes. <br/>
        By playing a 12 second extract from a traditional tune on an an instrument such as the flute or fiddle you can:
      </p>
      <ul>
        <li>
          - Retrieve score matches from a database of over 24,000 music scores
        </li>
        <li>
          - View and playback, share and download the score
        </li>
        <li>
          - Find and play other recordings of the tune from a collection of over 30 million recordings
        </li>
      </ul>
      <p>Credits:</p>
      Powered by MATT2 - Machine Annotation of Traditional Tunes.<br>
<p>The Tunepal team:</p>
Team lead: Dr. Bryan Duggan<br>
New website: Jianghan “Chris” Xue<br>
Europeana integration & support: Breandán Knowlton & Lise den Brok<br>
Android development & Irish translations: Morgan Conlon<br>
tunepal.org: Marco Castorina <br>
Applet development: Jamie Osler<br>
Testing: Lisa Shields <br>
Graphics: Jonathan Lynch & Scott Baker<br>

Research sponsored and supported by:<br>
School of Computing,<br>
Dublin Institute of Technology,<br>
Ireland.<br>

Technical expertise provided by the Audio Research Group. <br>
Translation assistance provided by the Siobhán Nic Gaoithín, Oifig na Gaeilge, Dublin Institute of Technology<br>
Tunepal is supported by grants from the Department of Tourism, Culture and Sport and from Europeana.<br><br>
Tune collections by thesession.org, Henrik Norbeck and John Chambers (O'Neill's 1001).
Ceol Rince na hÉireann and Johnny O'Leary of Sliabh Luachra were transcribed by Bill Black <br>

The Microphone Rambles was collected by Bernie Stocks.<br>

Uses:<br>

ABCJS by Paul Rosen and Gregory Dyke<br>
ABC2PS by Michael Methfessel<br>
ABC2PS iPhone port by Jeremy Huxtable<br>
ABC4J by Lionel Gueganton.<br>
ABC2MIDI by Seymour Shlien.<br>
SOX FFT Library by Ian Turner<br>
Glypish Icon Set by Joseph Wain <br>
Jetty<br>
Emscripten<br>
Angluar.js<br>
Materialize<br>

      <!--
      <p><span style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='960' height='570' src='http://www.youtube.com/embed/Zgp7YLrwodY?version=3&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span></p>
      -->
    </div>

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Last 10 tunes downloaded</span>
            </div>
            <div class="divider"></div>

            <div class="center" ng-if="about.showLoading">
              <tp-preloader></tp-preloader>
            </div>

            <div class="center" ng-if="about.showNoResults">
              <h5 class="message">No Results</h5>
            </div>

            <div class="avatar" ng-repeat="tune in about.tunes" ng-if="about.showResults">
              <a class="collection-item avatar" ng-href="/#!/tune/{{tune.tunepalIdDoubleEncoded}}">
                <img ng-src="{{tune.tunebook.logoUrl}}" alt="{{tune.tunebook.shortName}}" class="circle" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate">{{tune.title}}</span>
                <p class="truncate">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Tunebooks in Tunepal</span>
            </div>
            <div class="divider"></div>

            <div class="center" ng-if="about.showTunebooksLoading">
              <tp-preloader></tp-preloader>
            </div>

            <div class="center" ng-if="about.showTunebooksNoResults">
              <h5 class="message">No Results</h5>
            </div>

            <div class="avatar" ng-repeat="tunebook in about.tunebooks" ng-if="about.showTunebooksResults">
              <div class="collection-item avatar">
                <img ng-src="{{tunebook.logoUrl}}" alt="{{tunebook.shortName}}" class="circle" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate">{{tunebook.fullName}}</span>
                <p class="truncate">{{tunebook.extra || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p>{{tunebook.count}} tunes</p>
                </span>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12 center">
      Version: &nbsp;&nbsp;
      <!-- build:git -->
      <!-- endbuild -->
    </div>
  </div>

  <!--
  <p>Test pages:</p>
  <ul>
    <li>
      <a href="/tests/test_iframe.html"><i class="mdi-action-settings left"></i>Test iframe</a>
    </li>
    <li>
      <a href="/tests/file_import/file_import.html"><i class="mdi-action-settings left"></i>Test Accuracy</a>
    </li>
    <li>
      <a href="/tests/midi_playback/midi_playback.html"><i class="mdi-action-settings left"></i>Test Midi</a>
    </li>
  </ul>
  -->

</div>
