#tunepal-index {

.card {
  background-color: $primary-color-light;
  color: $primary-font-color;

  .card-content {
    padding: 0;
  }

  .divider {
    margin: 0 20px;
  }
}

.collection {
  border: none;
  margin: 0;

  .collection-item {
    padding: 10px 20px;
    border-bottom: none;
    color: $primary-font-color;

    &:hover, &.active {
      background-color: $hover-background-color-light;
    }

    .title {
      font-weight: bold;
      font-size: 15px;
    }

    :not(.title) {
      font-size: 14px;
      line-height: 1.2rem;
    }

    .secondary-content {
      right: 20px;
      color: rgba(255,255,255,.5);
    }

    &.card-collection-title {
      color: rgba(255,255,255,.5);

      &:not(.active):hover {
        background-color: transparent;
      }

      .title {
        font-weight: normal;
      }
    }

    &.avatar {
      padding-left: 77px;
      min-height: 0;

      .circle {
        border-radius: 0;
        left: 20px;
      }
    }
  }
}

.avatar .divider {
  margin-left: 72px;
}

.modal-content {
  padding: 0;
}
.modal {
  .secondary-content i {
    color: $secondary-color;
  }
}

}
