#tunepal-index #europeana-page, #tunepal-index #tune-page {
  .secondary-content {
    padding-top: 11px;

    audio {
      vertical-align: middle;
      padding: 0 0.5rem;
    }

    a {
      padding: 0 0.5rem;
    }

    i {
      font-size: 2rem;
      line-height: 36px;
      color: $secondary-color;
    }
  }
}
