#tunepal-index {

background-color: $primary-background-color;

body, .modal {
  background-color: $primary-background-color;
}

nav, main, footer {
  padding-left: 240px;

  @media #{$medium-and-down} {
    padding-left: 0;
  }
}

.container {
  width: 95%;
}

a[ng-click]:not(.disabled) {
  cursor: pointer;
}

a.disabled {
  color: #b3b3b3;
}

.search-bar {
  padding-left: 0;
  width: 100%;

  input[type=search] {
    margin: 0;
    padding-top: calc((#{$navbar-height} - 1.2em) / 2);
    line-height: normal;
    width: calc(100% - 7rem);
    height: inherit;
    background-color: transparent;
    color: $primary-font-color;
    -webkit-appearance: none;
  }

  i {
    color: $primary-font-color;
  }
}

@media #{$medium-and-down} {
  .search-bar {
    padding-left: 64px;

    input[type=search] {
      padding-left: 0;
      padding-top: calc((#{$navbar-height-mobile} - 1.2em) / 2);
      width: calc(100% - 3rem);
    }
  }
}

.dropdown-content {
  width: 250px;
  background-color: $primary-background-color;

  li {
    line-height: 4rem;
  }

  li a {
    padding: 0 20px;
    color: $primary-font-color;
  }

  li a i {
    font-size: 1.5rem;
  }
}

}
