#tunepal-index {

background-color: $primary-background-color;
color: $primary-font-color;

body, .modal {
  background-color: $primary-background-color;
}

nav, main, footer {
  padding-left: 240px;

  @media #{$medium-and-down} {
    padding-left: 0;
  }
}

.page {
  padding-top: $navbar-height;

  @media #{$medium-and-down} {
    padding-top: $navbar-height-mobile;
  }
}

.container {
  width: 95%;
}

a[ng-click]:not(.disabled) {
  cursor: pointer;
}

a.disabled {
  color: #b3b3b3;
}

.dropdown-content {
  width: 250px;
  background-color: $primary-background-color;

  li {
    line-height: 4rem;
  }

  li a {
    padding: 0 20px;
    color: $primary-font-color;
  }

  li a i {
    font-size: 1.5rem;
  }
}

.preloader-div {
  padding-top: 40px;
  overflow: hidden;
}

.message {
  padding-top: 30px;
}

}
