#tunepal-index #keyword-search-page {

.page-title {
  width: 100%;
}

.search-bar {
  width: 100%;
  line-height: $navbar-height;

  @media #{$medium-and-down} {
    line-height: $navbar-height-mobile;
  }

  input[type=search] {
    margin: 0;
    padding-top: calc((#{$navbar-height} - 1.2em) / 2);
    line-height: normal;
    width: calc(100% - 7rem);
    height: inherit;
    background-color: transparent;
    color: $primary-font-color;
    -webkit-appearance: none;

    @media #{$medium-and-down} {
      padding-left: 0;
      padding-top: calc((#{$navbar-height-mobile} - 1.2em) / 2);
      width: calc(100% - 3rem);
    }
  }

  i {
    color: $primary-font-color;
    font-size: 2rem;
  }
}

.secondary-content p {
  padding-top: 22px;
}

.europeana {
  @media #{$large-and-up} {
    position: fixed;
    right: 0;
    width: calc((100% - 240px) / 2);
    height: calc(100% - #{$navbar-height} - 20px);
    overflow-y: auto;
  }

  .message {
    padding-top: 0;
  }
}

.tune-container {
  position: relative;
}

.tune .secondary-content {
  margin-right: 45px;
}

.arrow {
  position: absolute;
  top: 12px;
  right: 20px;
}

a.btn-flat {
  padding: 0 0.5rem;
  color: $primary-font-color;

  i {
    font-size: 2rem;
    line-height: 36px;
  }
}

.europeana-tune .secondary-content {
  top: 21px;
}

audio {
  margin-top: 10px;
}

.card-collection-title .secondary-content {
  position: absolute;
  top: 0;

  a {
    padding: 0 0.5rem;
  }

  i {
    font-size: 2rem;
    line-height: 42px;
    color: $primary-font-color;
  }
}

}
