#keyword-search-page {

.search-bar {
  width: 100%;
  line-height: $navbar-height;

  @media #{$medium-and-down} {
    line-height: $navbar-height-mobile;
  }

  input[type=search] {
    margin: 0;
    padding-top: calc((#{$navbar-height} - 1.2em) / 2);
    line-height: normal;
    width: calc(100% - 7rem);
    height: inherit;
    background-color: transparent;
    color: $primary-font-color;
    -webkit-appearance: none;

    @media #{$medium-and-down} {
      padding-left: 0;
      padding-top: calc((#{$navbar-height-mobile} - 1.2em) / 2);
      width: calc(100% - 3rem);
    }
  }

  i {
    color: $primary-font-color;
    font-size: 2rem;
  }
}

}
