#tunepal-index {

.nav-wrapper {
  padding-left: 16px;
  padding-right: 16px;

  a.page-title {
    font-size: 24px;
    line-height: 64px;
    width: calc(100% - 200px);

    @media #{$medium-and-down} {
      width: calc(100% - 272px);
    }
  }

  li:hover, li.active {
    background-color: $hover-background-color-dark;
  }

  li:hover.disabled {
    background-color: transparent;
  }

  ul a {
    padding: 0 10px;
  }

  ul.left i {
    width: 2.7rem;
    text-align: center;
  }

  ul.right {
    position: fixed;
    top: 0;
    right: 16px;

    @media #{$medium-and-down} {
      right: 0;
    }
  }

  @media #{$medium-and-down} {
    padding-left: 0px;
    padding-right: 0px;

    a.hamburger-button {
      padding-left: 10px;
      padding-right: 10px;
    }

    a.page-title {
      padding-left: 0;
      position: fixed;
      left: 72px;
      right: 72px;
      line-height: 56px;
      font-size: 20px;
    }
  }
}

}
