#tunepal-index {

.navbar-global nav {
  background-color: transparent;
  box-shadow: none;
}

.nav-wrapper {
  padding-left: 16px;
  padding-right: 16px;

  @media #{$medium-and-down} {
    padding-left: 0;
    padding-right: 0;
  }

  a.hamburger-button {
    @media #{$medium-and-down} {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

}
