#tunepal-index .page-header {

top: 0;
width: 100%;

&.navbar {
  position: absolute;
}

&.navbar-fixed {
  position: fixed;
}

nav {
  top: 0;
  padding-left: 0;
  width: calc(100% - 240px);
  height: $navbar-height;
  line-height: $navbar-height;
  z-index: 998;
  background-color: $primary-color;

  @media #{$medium-and-down} {
    width: 100%;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;
  }
}

ul.left {
  left: 0;

  i {
    width: 2.7rem;
    text-align: center;
  }

  a {
    padding: 0 10px;
  }
}

.page-title {
  font-size: 24px;

  @media #{$medium-and-down} {
    position: absolute;
    left: 58px;
    font-size: 20px;
  }
}

li:hover, li.active {
  background-color: $hover-background-color-dark;
}

li:hover.disabled {
  background-color: transparent;
}

ul.right {
  position: absolute;
  top: 0;
  right: 16px;

  @media #{$medium-and-down} {
    right: 0;
  }

  li a {
    padding: 0 10px;
  }
}

}
