#tunepal-index {

.side-nav {
  .side-nav-toolbar {
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 16px 0 16px;
    background-color: $primary-color;
    color: $primary-font-color;
    font-size: 1.2rem;
  }

  li:hover, li.active {
    background-color: $hover-background-color-light;
  }

  a {
    color: $primary-font-color;
    font-size: 1.2rem;
  }
}

}
