#tunepal-index #tune-page {

a.page-title {
  // (width of one button + padding) * number of buttons
  padding-right: calc((2rem + 20px) * 5);
}

.last-row {
  margin-bottom: 0;
}

.score.card-content {
  background-color: white;
}

#card-score {
  @include transform-origin(top left);
}

#card-editor {
  margin-top: 0;
  padding: 20px;
}

#abc {
  height: calc(100vh - 124px);
  padding: 0;
  border: none;
  font-family: monospace;

  &.portrait {
    overflow-y: auto;
    height: calc(50vh - 80px);
    margin-bottom: 0;
  }
}

}

#tunepal-index {
  #at4m-mobile-container {
    color: black;
  }

  #at4m-dock {
    display: none;
  }

  .at4m-dock-toggle {
    display: none;
  }
}
