#tunepal-index {
  #at4m-mobile-container {
    color: black;
  }

  #at4m-dock {
    display: none;
  }

  .at4m-dock-toggle {
    display: none;
  }
}

#tunepal-index #tune-page {

a.page-title {
  // 100% - (width of one button + padding) * number of buttons
  width: calc(100% - (2rem + 20px) * 4);

  @media #{$medium-and-down} {
    width: calc(100% - (2rem + 20px) * 5);
  }
}

.last-row {
  margin-bottom: 0;
}

.score.card-content {
  background-color: white;
}

#card-score {
  @include transform-origin(top left);
}

#card-editor {
  margin-top: 0;
  padding: 20px;
}

#abc {
  height: calc(100vh - 124px);
  padding: 0;
  border: none;
  font-family: monospace;

  &.portrait {
    overflow-y: auto;
    height: calc(50vh - 80px);
    margin-bottom: 0;
  }
}

audio.hide-on-med-and-up {
  margin-top: 10px;
}

nav {
  .preloader-div {
    width: 50px;
    padding-top: 8px;
    text-align: center;

    @media #{$medium-and-down} {
      width: 48px;
    }
  }

  .preloader-wrapper {
    width: 24px;
    height: 24px;

    @media #{$medium-and-down} {
      width: 22px;
      height: 22px;
    }
  }
}

.midi-preloader {
  padding-top: 10px;

  .preloader-div {
    display: inline;
    margin-top: 10px;
  }

  .preloader-wrapper {
    width: 1rem;
    height: 1rem;
  }
}

}
