#tunepal-index #tune-page {

@media #{$medium-and-down} {
  padding-top: 0;

  .page-header nav {
    background-color: transparent;
    box-shadow: none;
  }

  .shadow {
    box-shadow: 0 0 112px 30px black;
  }
}

a.page-title {
  // (width of one button + padding) * number of buttons
  padding-right: calc((2rem + 20px) * 5);
}

.score.card-content {
  background-color: white;
}

#card-score {
  @include transform-origin(top left);
}

#card-editor {
  margin-top: 0;
  padding: 20px;
}

#abc {
  height: calc(100vh - 154px);
  padding: 0;
}

}

#tunepal-index {
  #at4m-mobile-container {
    color: black;
  }

  #at4m-dock {
    display: none;
  }

  .at4m-dock-toggle {
    display: none;
  }
}
