<!DOCTYPE html>
<div id="tune-page" class="page">

  <header class="page-header" ng-class="tune.utils.view.isMediumOrDown ? 'navbar' : 'navbar-fixed'">
    <nav>
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a class="hide-on-large-only" ng-click="tune.utils.view.goBack()"><i class="mdi-navigation-arrow-back"></i></a>
          </li>
        </ul>

        <a class="page-title truncate">{{tune.tune.title}}</a>

        <ul class="right">
          <li ng-if="tune.showTune && !tune.midi.ready">
            <tp-preloader></tp-preloader>
          </li>
          <li ng-if="tune.midi.ready" ng-show="!tune.midi.isPlaying">
            <a class="tooltipped" data-tooltip="Play" ng-click="tune.midi.togglePlaying()">
              <i class="mdi-av-play-arrow"></i>
            </a>
          </li>
          <li ng-if="tune.midi.ready" ng-show="tune.midi.isPlaying">
            <a class="tooltipped" data-tooltip="Pause" ng-click="tune.midi.togglePlaying()">
              <i class="mdi-av-pause"></i>
            </a>
          </li>
          <li ng-if="tune.midi.ready" ng-class="{disabled: tune.midi.isStopped}">
            <a class="tooltipped" data-tooltip="Stop" ng-click="tune.midi.stopPlaying()"><i class="mdi-av-stop"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isEditing ? 'Save' : 'Edit'}}" ng-click="tune.toggleEditing()">
              <i ng-class="tune.isEditing ? 'mdi-image-audiotrack' : 'tpi-abc'"></i>
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-button tooltipped" data-activates="tune-more" data-tooltip="More"><i class="mdi-navigation-more-vert"></i></a>
            <ul id="tune-more" class="dropdown-content">
              <li>
                <a ng-href="#!/discography/{{tune.tune.titleEncoded}}"><i class="left mdi-action-list"></i>Discography</a>
              </li>
              <li>
                <a ng-href="http://www.youtube.com/results?search_query={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Youtube</a>
              </li>
              <li>
                <a ng-href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/search?term={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>iTunes</a>
              </li>
              <li>
                <a ng-href="https://thesession.org/search?where=&q={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Search thesession.org</a>
              </li>
              <li>
                <a ng-click="tune.midi.download()"><i class="left mdi-image-audiotrack"></i>Download Midi</a>
              </li>
              <li>
                <a ng-click="tune.downloadAbc()"><i class="left mdi-image-audiotrack"></i>Download ABC</a>
              </li>
              <li>
                <!-- AddToAny -->
                <!-- This is placed here instaed of in index.html to prevent incorrect title and url when sharing -->
                <div style="display: none">
                  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  </div>
                </div>
                <script src="//static.addtoany.com/menu/page.js"></script>

                <a ng-click="tune.showSocialShare()"><i class="left mdi-social-share"></i>Share</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row last-row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center" ng-if="!tune.showTune">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12" ng-if="tune.showTune">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Archive Recordings <span ng-if="tune.europeana.items.length > 0">({{tune.europeana.items.length}} of {{tune.europeana.totalResults}})</span></span>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Search in Europeana" ng-href="{{tune.europeanaPortalUrl}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="More tunes" ng-href="#!/europeana/{{tune.tune.tunepalIdDoubleEncoded}}"><i class="mdi-navigation-more-horiz"></i></a>
              </span>
            </div>
            <div class="divider"></div>

            <div class="center" ng-if="tune.showEuropeanaLoading">
              <tp-preloader size="small"></tp-preloader>
            </div>

            <div class="collection-item center" ng-if="tune.showEuropeanaNoResults">
              <p>No recordings found for "{{tune.tune.title}}"</p>
            </div>

            <div class="avatar" ng-repeat="etune in tune.europeana.items" ng-if="tune.showEuropeanaResults">
              <div class="collection-item avatar">
                <img ng-src="{{etune.preview}}" class="circle" alt="{{etune.provider}}" title="{{etune.provider}}" />
                <span class="title truncate" title="{{etune.title}}">{{etune.title || '&nbsp;'}}</span>
                <p class="truncate" title="{{etune.author}}">{{etune.author || '&nbsp;'}}</p>
                <p class="truncate">{{etune.year || '&nbsp;'}}</p>
                <audio controls class="hide-on-med-and-up" ng-src="{{etune.audioUrl}}" ng-if="etune.audioUrl"></audio>
                <span class="secondary-content">
                  <audio controls class="hide-on-small-only" ng-src="{{etune.audioUrl}}" ng-if="etune.audioUrl"></audio>
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="View at {{etune.provider}}" ng-href="{{etune.tunePageInProvider}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                </span>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" ng-class="tune.isEditing && tune.isLandscape ? 's6' : 's12'" ng-if="tune.showTune">
      <div class="card">
        <div class="score card-content">
          <div id="card-score">
            <div id="score"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" ng-class="tune.isEditing && tune.isLandscape ? 's6' : 's12'" ng-show="tune.isEditing">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">&nbsp;</span>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Hide" ng-click="tune.toggleEditing()"><i class="mdi-navigation-close"></i></a>
              </span>
            </div>
            <div class="divider"></div>

            <div id="card-editor" class="input-field">
              <textarea id="abc" ng-class="{portrait: !tune.isLandscape}" ng-model="tune.tune.notation"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
