<!doctype html>
<div id="tune-page" class="page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <div class="shadow"></div>
        <ul class="left">
          <li>
            <a class="hide-on-large-only" ng-click="tune.utils.view.goBack()"><i class="mdi-navigation-arrow-back"></i></a>
          </li>
        </ul>

        <a class="page-title truncate hide-on-med-and-down">{{tune.tune.title}}</a>

        <ul class="right">
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isPlaying ? 'Pause' : 'Play'}}" ng-click="tune.togglePlaying()">
              <i ng-class="{'mdi-av-play-arrow': !tune.isPlaying, 'mdi-av-pause': tune.isPlaying}"></i>
            </a>
          </li>
          <li ng-class="{disabled: !tune.isPlaying}">
            <a class="tooltipped" data-tooltip="Stop" ng-click="tune.stopPlaying()" ng-class="{disabled: !tune.isPlaying}"><i class="mdi-av-stop"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isEditing ? 'Save' : 'Edit'}}" ng-click="tune.toggleEditing()"><i ng-class="{'mdi-editor-mode-edit': !tune.isEditing, 'mdi-content-save': tune.isEditing}"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="Europeana search" ng-href="/#!/europeana/{{tune.tunepalId}}"><i class="mdi-action-list"></i></a>
          </li>
          <li>
            <a href="#" class="dropdown-button tooltipped" data-activates="tune-more" data-tooltip="More"><i class="mdi-navigation-more-vert"></i></a>
            <ul id="tune-more" class="dropdown-content">
              <li>
                <a href="/#!/discography"><i class="left mdi-action-list"></i>Discography (TODO)</a>
              </li>
              <li>
                <a ng-href="http://www.youtube.com/results?search_query={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Youtube</a>
              </li>
              <li>
                <a ng-href="http://www.amazon.com/s/?field-keywords={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Amazon</a>
              </li>
              <li>
                <a ng-click="tune.downloadMidi()"><i class="left mdi-image-audiotrack"></i>Download Midi</a>
                <div id="hiddenMidi" class="hide"></div>
              </li>
              <li>
                <a ng-click="tune.showAddThis()"><i class="left mdi-social-share"></i>Share</a>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559fc9c91ce096f3" async="async"></script>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 center preloader-div" ng-show="!tune.loaded">
      <div class="preloader-wrapper big active center">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12" ng-show="tune.europeana">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="avatar">
              <div class="collection-item avatar" ng-href="{{tune.europeana.guid}}" target="_blank">
                <img ng-src="{{tune.europeana.europeanaAggregation.edmPreview || 'http://europeana.eu/Logo.jpg'}}" alt="{{tune.europeana.title[0]}}" class="circle" />
                <span class="title truncate">{{tune.europeana.title[0]}}</span>
                <p class="truncate">{{tune.europeana.aggregations[0].edmDataProvider.def[0]}}</p>
                <p class="truncate">{{tune.europeana.aggregations[0].edmProvider.def[0]}}</p>
                <span class="secondary-content">
                  <audio controls ng-src="{{tune.europeanaSoundUrl}}" ng-if="tune.europeanaSoundUrl"></audio>
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Open Europeana in new tab" ng-href="{{tune.europeana.europeanaAggregation.edmLandingPage}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Unlink" ng-click="tune.europeana = null"><i class="mdi-navigation-close"></i></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12" ng-class="{l6: tune.isEditing, l12: !tune.isEditing}" ng-show="tune.loaded">
      <div class="card">
        <div class="score card-content">
          <div id="card-score">
            <div id="score" ng-click="tune.toggleToolbar()"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6" ng-show="tune.isEditing">
      <div class="card">
        <div id="card-editor" class="card-content input-field">
          <textarea id="abc" class="materialize-textarea" ng-model="tune.tune.notation"></textarea>
        </div>
      </div>
    </div>
  </div>

</div>
