<!DOCTYPE html>
<div id="tune-page" class="page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <div class="shadow"></div>
        <ul class="left">
          <li>
            <a class="hide-on-large-only" ng-click="tune.utils.view.goBack()"><i class="mdi-navigation-arrow-back"></i></a>
          </li>
        </ul>

        <a class="page-title truncate hide-on-med-and-down">{{tune.tune.title}}</a>

        <ul class="right">
          <li ng-show="!tune.midi.isPlaying" ng-class="{disabled: !tune.midi.ready}">
            <a class="tooltipped" data-tooltip="Play" ng-click="tune.midi.togglePlaying()">
              <i ng-class="tune.midi.isPlaying ? 'mdi-av-pause' : 'mdi-av-play-arrow'"></i>
            </a>
          </li>
          <li ng-show="tune.midi.isPlaying" ng-class="{disabled: !tune.midi.ready}">
            <a class="tooltipped" data-tooltip="Pause" ng-click="tune.midi.togglePlaying()">
              <i ng-class="tune.midi.isPlaying ? 'mdi-av-pause' : 'mdi-av-play-arrow'"></i>
            </a>
          </li>
          <li ng-class="{disabled: tune.midi.isStopped}">
            <a class="tooltipped" data-tooltip="Stop" ng-click="tune.midi.stopPlaying()"><i class="mdi-av-stop"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isEditing ? 'Save' : 'Edit'}}" ng-click="tune.toggleEditing()"><i ng-class="{'mdi-editor-mode-edit': !tune.isEditing, 'mdi-content-save': tune.isEditing}"></i></a>
          </li>
          <li>
            <a href="#" class="dropdown-button tooltipped" data-activates="tune-more" data-tooltip="More"><i class="mdi-navigation-more-vert"></i></a>
            <ul id="tune-more" class="dropdown-content">
              <li>
                <a ng-href="/#!/discography/{{tune.tune.titleEncoded}}"><i class="left mdi-action-list"></i>Discography</a>
              </li>
              <li>
                <a ng-href="http://www.youtube.com/results?search_query={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Youtube</a>
              </li>
              <li>
                <a ng-href="http://www.amazon.com/s/?field-keywords={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Amazon</a>
              </li>
              <li>
                <a ng-href="https://thesession.org/search?where=&q={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Search thesession.org</a>
              </li>
              <li>
                <a ng-click="tune.midi.download()"><i class="left mdi-image-audiotrack"></i>Download Midi</a>
                <div id="hiddenMidi" class="hide"></div>
              </li>
              <li>
                <a ng-click="tune.showAddThis()"><i class="left mdi-social-share"></i>Share</a>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559fc9c91ce096f3" async="async"></script>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row last-row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center" ng-if="!tune.showTune">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12" ng-if="tune.showTune">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Archive Recordings</span>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Show in Europeana" ng-href="{{tune.europeanaPortalUrl}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Add tune" ng-href="/#!/europeana/{{tune.tunepalIdEncoded}}"><i class="mdi-content-add"></i></a>
              </span>
            </div>
            <div class="divider"></div>

            <div class="center" ng-if="tune.showEuropeanaLoading">
              <tp-preloader size="small"></tp-preloader>
            </div>

            <div class="collection-item center" ng-if="tune.showEuropeanaNoResults">
              <p>No recordings found for "{{tune.tune.title}}"</p>
            </div>

            <div class="avatar" ng-repeat="europeanaTune in tune.europeanaTunes" ng-if="tune.showEuropeanaResults">
              <div class="collection-item avatar">
                <img ng-src="{{europeanaTune.europeanaAggregation.edmPreview || 'http://europeana.eu/Logo.jpg'}}" alt="{{europeanaTune.title[0]}}" class="circle" />
                <span class="title truncate">{{europeanaTune.title[0] || '&nbsp;'}}</span>
                <p class="truncate">{{europeanaTune.proxies[0].dcCreator.def[0] || '&nbsp;'}}</p>
                <p class="truncate">{{europeanaTune.year[0] || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <audio controls ng-src="{{europeanaTune.tpSoundUrl}}" ng-if="europeanaTune.tpSoundUrl"></audio>
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Show in Europeana" ng-href="{{europeanaTune.europeanaAggregation.edmLandingPage}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Unlink" ng-click="tune.unlinkEuropeanaTune($index)"><i class="mdi-navigation-close"></i></a>
                </span>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" ng-class="tune.isEditing && tune.isLandscape ? 's6' : 's12'" ng-if="tune.showTune">
      <div class="card">
        <div class="score card-content" ng-click="tune.toggleToolbar()">
          <div id="card-score">
            <div id="score"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" ng-class="tune.isEditing && tune.isLandscape ? 's6' : 's12'" ng-show="tune.isEditing">
      <div class="card">
        <div id="card-editor" class="card-content input-field">
          <textarea id="abc" ng-class="{portrait: !tune.isLandscape}" ng-model="tune.tune.notation"></textarea>
        </div>
      </div>
    </div>
  </div>

</div>
