<!DOCTYPE html>
<div id="keyword-search-page" class="page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a class="button-collapse" ng-click="keywordSearch.utils.view.showSideNav()"><i class="mdi-navigation-menu"></i></a>
          </li>
        </ul>
        <div class="page-title">
          <form class="search-bar" ng-submit="keywordSearch.searchKeyword()">
            <div class="input-field">
              <input id="keyword" type="search" placeholder="Search Keyword" ng-model="keywordSearch.keyword" required>
              <label for="keyword" class="hide-on-med-and-down"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close" ng-show="keywordSearch.keyword.length > 0" ng-click="keywordSearch.clearKeyword()"></i>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center" ng-show="keywordSearch.showLoading">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12 center" ng-show="keywordSearch.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

    <div class="col s12 m6 l6" ng-show="keywordSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection" ng-repeat="page in keywordSearch.pages">
            <div class="collection-item card-collection-title">
              <span class="title">{{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in keywordSearch.tunes | limitTo : keywordSearch.pageSize : page.startIndex" class="avatar tune-container">
              <a class="collection-item avatar tune" ng-href="/#!/tune/{{tune.tunepalIdEncoded}}" ng-class="{active: keywordSearch.selectedTune === tune}">
                <img ng-src="{{tune.tunebook.logoUrl}}" class="circle" alt="{{tune.tunebook.shortName}}" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate" title="{{tune.title}}">{{tune.title}}</span>
                <p class="truncate" title="{{tune.altTitle}}">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <span class="arrow">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Show archive recordings" ng-click="keywordSearch.select(tune)"><i class="mdi-navigation-arrow-forward"></i></a>
              </span>
              <div class="divider" ng-if="!$last"></div>
            </div>
            <div class="divider" ng-if="!$last"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6 europeana" ng-show="keywordSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Archive Recordings</span>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Show in Europeana" ng-href="{{keywordSearch.europeanaPortalUrl}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
              </span>
            </div>
            <div class="divider"></div>
          </div>

          <div class="center" ng-show="keywordSearch.showEuropeanaLoading">
            <tp-preloader></tp-preloader>
          </div>

          <div class="center" ng-show="keywordSearch.showEuropeanaNoResults">
            <h5 class="message">No Results</h5>
          </div>

          <div class="collection" ng-repeat="page in keywordSearch.europeanaPages" ng-show="keywordSearch.showEuropeanaResults">
            <div class="collection-item card-collection-title">
              <span class="title">{{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in keywordSearch.europeanaTunes | limitTo : 10 : page.startIndex" class="avatar">
              <div class="collection-item avatar europeana-tune">
                <img ng-src="{{tune.europeanaAggregation.edmPreview || 'http://europeana.eu/Logo.jpg'}}" class="circle" alt="{{tune.title[0]}}" title="{{tune.title[0]}}" />
                <span class="title truncate" title="{{tune.title[0]}}">{{tune.title[0] || '&nbsp;'}}</span>
                <p class="truncate" title="{{tune.proxies[0].dcContributor.def[0]}}">{{tune.proxies[0].dcContributor.def[0] || '&nbsp;'}}</p>
                <p class="truncate">{{tune.year[0] || '&nbsp;'}}</p>
                <audio controls ng-src="{{tune.tpSoundUrl}}" ng-if="tune.tpSoundUrl"></audio>
                <span class="secondary-content">
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Open Europeana in new tab" ng-href="{{tune.europeanaAggregation.edmLandingPage}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                </span>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
            <div class="divider" ng-if="!$last"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
