<!DOCTYPE html>
<div id="europeana-page" class="page">

  <tp-navbar title="Europeana Search: {{europeana.tune.title}}" go-back="{{true}}"></tp-navbar>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center" ng-show="europeana.showLoading">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12 center" ng-show="europeana.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

    <div class="col s12 m6 l6" ng-repeat="page in europeana.pages" ng-show="europeana.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">{{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="etune in europeana.results.items | limitTo : 10 : page.startIndex" class="avatar">
              <div class="collection-item avatar">
                <a ng-href="{{etune.tunePageInEuropeana}}" target="_blank"><img ng-src="{{etune.preview}}" class="circle" alt="{{etune.provider}}" title="{{etune.provider}}" /></a>
                <span class="title truncate" title="{{etune.title}}">{{etune.title || '&nbsp;'}}</span>
                <p class="truncate" title="{{etune.author}}">{{etune.author || '&nbsp;'}}</p>
                <p class="truncate">{{etune.year || '&nbsp;'}}</p>
                <audio controls ng-src="{{etune.audioUrl}}" ng-if="etune.audioUrl"></audio>
                <span class="secondary-content">
                  <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="View at {{etune.provider}}" ng-href="{{etune.tunePageInProvider}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                </span>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
