<!doctype html>
<div id="tune-page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a class="hide-on-large-only" ng-click="tune.goBack()"><i class="mdi-navigation-arrow-back"></i></a>
          </li>
        </ul>

        <a class="page-title truncate">{{tune.tune.title}}</a>

        <ul class="right">
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isPlaying ? 'Pause' : 'Play'}}" ng-click="tune.togglePlaying()">
              <i ng-class="{'mdi-av-play-arrow': !tune.isPlaying, 'mdi-av-pause': tune.isPlaying}"></i>
            </a>
          </li>
          <li ng-class="{disabled: !tune.isPlaying}">
            <a class="tooltipped" data-tooltip="Stop" ng-click="tune.stopPlaying()" ng-class="{disabled: !tune.isPlaying}"><i class="mdi-av-stop"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="{{tune.isEditing ? 'Save' : 'Edit'}}" ng-click="tune.toggleEditing()"><i ng-class="{'mdi-editor-mode-edit': !tune.isEditing, 'mdi-content-save': tune.isEditing}"></i></a>
          </li>
          <li>
            <a class="tooltipped" data-tooltip="Europeana Search" ng-href="/#!/europeana/{{tune.tune.titleEncoded}}"><i class="mdi-action-list"></i></a>
          </li>
          <li>
            <a href="#" class="dropdown-button tooltipped" data-activates="tune-more" data-tooltip="More"><i class="mdi-navigation-more-vert"></i></a>
            <ul id="tune-more" class="dropdown-content">
              <li>
                <a href="/#!/discography"><i class="left mdi-action-list"></i>Discography (TODO)</a>
              </li>
              <li>
                <a ng-href="http://www.youtube.com/results?search_query={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Youtube</a>
              </li>
              <li>
                <a ng-href="http://www.amazon.com/s/?field-keywords={{tune.tune.titleEncoded}}" target="_blank"><i class="left mdi-action-list"></i>Amazon</a>
              </li>
              <li>
                <a ng-click="tune.downloadMidi()"><i class="left mdi-image-audiotrack"></i>Download Midi</a>
                <div id="hiddenMidi" class="hide"></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 center preloader-div" ng-show="!tune.loaded">
      <div class="preloader-wrapper big active center">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12" ng-class="{l6: tune.isEditing, l12: !tune.isEditing}" ng-show="tune.loaded">
      <div class="card">
        <div class="score card-content">
          <div id="card-score">
            <div id="score"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6" ng-show="tune.isEditing">
      <div class="card">
        <div id="card-editor" class="card-content input-field">
          <textarea id="abc" class="materialize-textarea" ng-model="tune.tune.notation"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
