<!doctype html>
<div id="keyword-search-page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <form class="search-bar" ng-submit="keywordSearch.searchKeyword()">
          <div class="input-field">
            <input id="keyword" type="search" placeholder="Search Keyword" ng-model="keywordSearch.keyword" required>
            <label for="keyword" class="hide-on-med-and-down"><i class="mdi-action-search"></i></label>
            <i class="mdi-navigation-close" ng-show="keywordSearch.keyword.length > 0" ng-click="keywordSearch.clearKeyword()"></i>
          </div>
        </form>
      </div>
    </nav>
  </header>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l6" ng-repeat="page in keywordSearch.pages">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Top {{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in keywordSearch.tunes | limitTo : 10 : page.startIndex" class="avatar">
              <a class="collection-item avatar" ng-href="/#!/tune/{{tune.id}}">
                <img ng-src="{{tune.tunebook.logoUrl}}" alt="{{tune.tunebook.shortName}}" class="circle" />
                <span class="title">{{tune.title}}</span>
                <p>{{tune.tunebook.shortName}}</p>
                <p>{{tune.description}}</p>
              </a>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
