<!doctype html>
<div id="keyword-search-page" class="page">

  <header class="navbar-fixed page-header">
    <nav>
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a class="button-collapse" ng-click="keywordSearch.utils.view.showSideNav()"><i class="mdi-navigation-menu"></i></a>
          </li>
        </ul>
        <div class="page-title">
          <form class="search-bar" ng-submit="keywordSearch.searchKeyword()">
            <div class="input-field">
              <input id="keyword" type="search" placeholder="Search Keyword" ng-model="keywordSearch.keyword" required>
              <label for="keyword" class="hide-on-med-and-down"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close" ng-show="keywordSearch.keyword.length > 0" ng-click="keywordSearch.clearKeyword()"></i>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center preloader-div" ng-show="keywordSearch.showLoading">
      <div class="preloader-wrapper big active center">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12 center" ng-show="keywordSearch.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

    <div class="col s12 m12 l6" ng-repeat="page in keywordSearch.pages" ng-show="keywordSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">{{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in keywordSearch.tunes | limitTo : keywordSearch.pageSize : page.startIndex" class="avatar">
              <a class="collection-item avatar" ng-href="/#!/tune/{{tune.tunepalId}}">
                <img ng-src="{{tune.tunebook.logoUrl}}" alt="{{tune.tunebook.shortName}}" class="circle" />
                <span class="title truncate">{{tune.title}}</span>
                <p class="truncate">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
