<!DOCTYPE html>
<div id="home-page" class="page">

  <tp-navbar title="Homepage"></tp-navbar>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12">
	<p>
	Tunepal is a search-by-playing search engine for traditional Irish, Welsh, Scottish, Breton, American marching band and Canadian tunes.<br/>
	By playing a 12 second extract from a traditional tune on an an instrument such as the flute or fiddle you can:
	</p>
	<ul class="collection">
		<li class="collection-item">
			Retrieve score matches from a database of over 24,000 music scores 
		</li>
		<li class="collection-item">
			View and playback, share and download the score 
		</li>
		<li class="collection-item">
			Find and play other recordings of the tune from a collection of over 30 million recordings
		</li>
	</ul>
	<p>
		Check out this tutorial video below:
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/XUBJgwgPKIo" frameborder="0" allowfullscreen></iframe>	
	
	
	
	<div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 l12 center" ng-show="home.showLoading">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12 center" ng-show="home.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

      <div class="card" ng-show="home.showResults>
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Last 10 tunes downloaded</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in home.tunes" class="avatar">
              <a class="collection-item avatar" ng-href="/#!/tune/{{tune.tunepalIdEncoded}}">
                <img ng-src="{{tune.tunebook.logoUrl}}" alt="{{tune.tunebook.shortName}}" class="circle" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate">{{tune.title}}</span>
                <p class="truncate">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<!--
      <p>Test pages:</p>
      <ul>
        <li>
          <a href="/tests/test_iframe.html"><i class="mdi-action-settings left"></i>Test iframe</a>
        </li>
        <li>
          <a href="/tests/file_import/file_import.html"><i class="mdi-action-settings left"></i>Test Accuracy</a>
        </li>
        <li>
          <a href="/tests/midi_playback/midi_playback.html"><i class="mdi-action-settings left"></i>Test Midi</a>
        </li>
      </ul>
	  -->
    </div>
  </div>

</div>
