<!doctype html>
<div id="notes-search-page" class="page">

  <tp-navbar title="Result"></tp-navbar>

  <div id="confidence-popup" class="modal">
    <div class="modal-content">
      <p ng-repeat="tune in notesSearch.tunes | limitTo : 1">
        Tunepal thinks its called
        <a ng-href="/#!/tune/{{tune.tunepalIdEncoded}}">
          <span class="highlight">{{tune.title}}</span>
          <span ng-if="tune.altTitle">(<span class="highlight">{{tune.altTitle}}</span>)</span>
        </a>
        with <span class="highlight">{{tune.confidence * 100 | number: 1}}%</span> confidence
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
    </div>
  </div>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 center" ng-show="notesSearch.showLoading">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12 center" ng-show="notesSearch.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

    <div class="col s12 m12 l6" ng-repeat="page in notesSearch.pages" ng-show="notesSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Top {{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in notesSearch.tunes | limitTo : notesSearch.pageSize : page.startIndex" class="avatar">
              <a class="collection-item avatar" ng-href="/#!/tune/{{tune.tunepalIdEncoded}}">
                <img ng-src="{{tune.tunebook.logoUrl}}" alt="{{tune.tunebook.shortName}}" class="circle" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate">{{tune.title}}</span>
                <p class="truncate">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p class="confidence">{{tune.confidence * 100 | number: 1}}%</p>
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
