<!DOCTYPE html>
<div id="notes-search-page" class="page">

  <tp-navbar title="Result"></tp-navbar>

  <div id="confidence-popup" class="modal">
    <div class="modal-content">
      <p ng-repeat="tune in notesSearch.tunes | limitTo : 1">
        Tunepal thinks its called
        <a ng-href="#!/tune/{{tune.tunepalIdDoubleEncoded}}">
          <span class="highlight">{{tune.title}}</span>
          <span ng-if="tune.altTitle">(<span class="highlight">{{tune.altTitle}}</span>)</span>
        </a>
        with <span class="highlight">{{tune.confidence * 100 | number: 1}}%</span> confidence
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>

  <div class="row">
    <!-- See reference for s, m, and l class prefix here (http://materializecss.com/grid.html#grid-responsive) -->
    <div class="col s12 m12 center" ng-if="notesSearch.showLoading">
      <tp-preloader></tp-preloader>
    </div>

    <div class="col s12 m12 l12 center" ng-if="notesSearch.showNoResults">
      <h5 class="message">No Results</h5>
    </div>

    <div class="col s12 m12 l12 center" ng-if="notesSearch.showError">
      <h5 class="message">Error: {{notesSearch.error}}</h5>
    </div>

    <div class="col s12 m6 l6" ng-if="notesSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection" ng-repeat="page in notesSearch.pages">
            <div class="collection-item card-collection-title">
              <span class="title">Top {{page.start}} - {{page.end}}</span>
            </div>
            <div class="divider"></div>
            <div ng-repeat="tune in notesSearch.tunes | limitTo : notesSearch.pageSize : page.startIndex" class="avatar tune-container">
              <a class="collection-item avatar tune" ng-href="#!/tune/{{tune.tunepalIdDoubleEncoded}}" ng-class="{active: notesSearch.selectedTune === tune}">
                <img ng-src="{{tune.tunebook.logoUrl}}" class="circle" alt="{{tune.tunebook.shortName}}" title="Tunebook: {{tune.tunebook.shortName}}" />
                <span class="title truncate" title="{{tune.title}}">{{tune.title}}</span>
                <p class="truncate" title="{{tune.altTitle}}">{{tune.altTitle || '&nbsp;'}}</p>
                <span class="secondary-content">
                  <p class="confidence">{{tune.confidence * 100 | number: 1}}%</p>
                  <p>{{tune.tuneType}} in {{tune.keySignature}}</p>
                </span>
              </a>
              <span class="arrow">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Show archive recordings" ng-click="notesSearch.select(tune)"><i class="mdi-navigation-arrow-forward"></i></a>
              </span>
              <div class="divider" ng-if="!$last"></div>
            </div>
            <div class="divider" ng-if="!$last"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6 europeana" ng-if="notesSearch.showResults">
      <div class="card">
        <div class="card-content">
          <div class="collection">
            <div class="collection-item card-collection-title">
              <span class="title">Archive Recordings</span>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="Search in Europeana" ng-href="{{notesSearch.europeanaPortalUrl}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
              </span>
            </div>
            <div class="divider"></div>

            <div class="center" ng-show="notesSearch.showEuropeanaLoading">
              <tp-preloader></tp-preloader>
            </div>

            <div class="collection-item center" ng-if="notesSearch.showEuropeanaNoResults">
              <p>No recordings found for "{{notesSearch.selectedTune.title}}"</p>
            </div>

            <div ng-repeat="page in notesSearch.europeanaPages" ng-show="notesSearch.showEuropeanaResults">
              <div class="collection-item card-collection-title">
                <span class="title">{{page.start}} - {{page.end}}</span>
              </div>
              <div class="divider"></div>
              <div ng-repeat="etune in notesSearch.europeana.items | limitTo : 10 : page.startIndex" class="avatar">
                <div class="collection-item avatar europeana-tune">
                  <img ng-src="{{etune.preview}}" class="circle" alt="{{etune.aggregations[0].edmDataProvider.def[0]}}" title="{{etune.aggregations[0].edmDataProvider.def[0]}}" />
                  <span class="title truncate" title="{{etune.title}}">{{etune.title || '&nbsp;'}}</span>
                  <p class="truncate" title="{{etune.author}}">{{etune.author || '&nbsp;'}}</p>
                  <p class="truncate">{{etune.year || '&nbsp;'}}</p>
                  <audio controls ng-src="{{etune.audioUrl}}" ng-if="etune.audioUrl"></audio>
                  <span class="secondary-content">
                    <a class="waves-effect waves-light btn-flat tooltipped" data-tooltip="View at {{etune.aggregations[0].edmDataProvider.def[0]}}" ng-href="{{etune.tunePageInProvider}}" target="_blank"><i class="mdi-action-open-in-new"></i></a>
                  </span>
                </div>
                <div class="divider" ng-if="!$last"></div>
              </div>
              <div class="divider" ng-if="!$last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
